{% extends 'TestsGUI/base.html' %}
{% load static %}



{% block extra_css %}
    <link type="text/css" href="{% static 'TestsGUI/css/left-sidebar.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'TestsGUI/css/footer.css' %}" rel="stylesheet" />
{% endblock %}



{% block left-sidebar %}
<div class="container">
    <ul>
        {% for test in tests %}
        <li><a href="{{ test.slug }}">{{test.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
<div class="footer-body">
    <p class="footer-text">© 2023 BRANDPOL</p>
    <p class="footer-text">Department BackEnd</p>

</div>
{% endblock %}
